.nav-img {
  width: 50px;
}

.discord-link {
  color: #ffffff;
  text-decoration: none;
}

.active-link {
  color: #ffffff;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;
}

footer ul {
  display: flex;
  justify-content: space-evenly;

  padding: 0px;
  margin: 0px;
  width: 100%;
}

footer li {
  list-style: none;
}
