<header>
  <img
    src="https://i.gyazo.com/6fdfdb95475327809cc1e1707732ffad.png"
    alt="Guild Emblem"
  />
  <h1>Over the Moon</h1>
</header>

<main>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque eius hic
    veritatis quaerat assumenda voluptatum nobis maxime velit? Repellat, rerum.
    Nostrum provident officiis perferendis iste nulla magni ab reiciendis
    adipisci.
  </p>

  <!-- <div id="home-carousel" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#home-carousel"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#home-carousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#home-carousel"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item c-item active">
        <img
          src="https://i.gyazo.com/0eb666b5d70d7cc249566affdc11382f.png"
          class="d-block w-100 c-img"
          alt="Haven Bag"
        />
      </div>
      <div class="carousel-item c-item">
        <img
          src="https://i.gyazo.com/9e4d5880653bd0b34dd9fe0f79d32096.png"
          class="d-block w-100 c-img"
          alt="Cliff"
        />
      </div>
      <div class="carousel-item c-item">
        <img
          src="https://i.gyazo.com/cefcd78493565fe199fa40c750188f30.png"
          class="d-block w-100 c-img"
          alt="Bandits"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#home-carousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#home-carousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
</main>
