header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 80px;
}

h1 {
  color: rgb(100, 220, 220);
  font-size: 45px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 40px;
}

p {
  padding: 0px 350px;
}

/* #home-carousel {
  width: 80%;
} */

/* .c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
} */

/* Media Queries */

/* Phone */
@media screen and (max-width: 500px) {
  p {
    padding: 0px 50px;
  }
}
